


body{
    width: 1250px;
    height: auto;
}

/* alle titler*/
h1  {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size:52px;  
    font-weight: 500;
    line-height: 61px;
    margin-left: 20px;
    margin-bottom: -35px
}

/* egen klasse for å endre posisjon på ARCHISTAR ordet i tittel*/
h1.h1archistar  {
    width: 350px;
}

/* egen klasse for å endre posisjon på ACADEMY ordet i tittel*/
h1.h1academy    {
    text-align: right;
    width: 300px;
    margin-left: 292px;
}

h2      {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

p   {
    font-size: 11px;
}

p.bildeTekst    {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

b   {
    font-size: 8px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.tekstToppHøyre     {
   position: absolute;
   margin-left: 440px;
   width: 120px;
   font-size: 10px;
}

.tekstOppeVenstre   {
    margin-left: 80px;
    font-size: 10px;
    position: absolute;
    margin-top: 15px;
}

hr.linje    {
    width: 250px;
    margin-left: 10px;
    border: 1 px;
    position: absolute;
    margin-top: 0px;
}

.footer     {
    height: 40px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 10px;
}

.footer2    { 
    height: 40px;
    margin-top:20px;
    font-size:10px;
    width: 670px;

}

div.background{
    background-image: url("assets/images/nybakgrunnbil.jpg");
    height: 750px;
    width: 1000px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-size: 60%;  
    opacity: 100%;  
}



    /* Legger sidene ved siden av hverandre */
div.side1og2Container{
    display: grid;
    grid-template-columns: 50% 50%;
    position: static;
}


p.ingress   {
    height: 70px;
    width: 220px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    margin-left: 350px;
    position: absolute;
    margin-top: 50px;
    text-align: right;
   

    }

/*Position på bakgrunn og tekst + z-index avgjør hvilken div som havner oppå hvem
*/
div.tittel{
    z-index:9;
    position: absolute;
    
}

div.hrTekst{
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px; 
}

div.hrTekst1 {
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 300 px;
}
div.hrTekst2 {
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 750px;
}
div.hrTekst3 {
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 1150px; 
    position: absolute;
}

div.sideHeader{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 40% 50%;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 2%;
    width: 1100px;
    height: auto;
}



img.note {
    width: 15px;
    height: 15px;
    position: absolute;
    margin-top: -8px;
    margin-left: 130px;
}



div.side2Body{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 750px;
    width: 592px;
    
}

div.side2TekstVenstre{
    flex: 30%;
    border-right: solid rgb(202, 201, 201) 1px;
    padding-right: 12px;
    height: fit-content;
    width: 100%;

}

div.side2BilderHøyre{
    flex: 70%
    display: grid;
    grid-template-rows: 40% 20% 40%;
    box-sizing: content-box;
    margin-left: 30px;

}

div.bilde1og2Side2{
    grid-row: 40%;
    width: 462px;
}

div.tekstHøyreSide    {
    margin-left: 5px;
    margin-right: 20px;
    width: 462px;
}

.img{
    width: 101%;
    height: auto;
}
div.footer2{
    height: 40px;
    font-size: 10px;
    padding-top: 9px;
    padding-left:400px;
}
