
/* Jonas prøvde å sentrere alt, fungerte ikke! D: !andreas har lagt til body tag nederst for å teste deling av side i to!

body    {
    display: flex;
    justify-content: center;
}
*/

/* alle titler*/
h1  {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size:52px;  
    font-weight: 500;
    line-height: 61px;

    margin-left: 20px;
    margin-bottom: -35px
}
/* egen klasse for å endre posisjon på ARCHISTAR ordet i tittel*/
h1.h1archistar  {
    width: 350px;
}
/* egen klasse for å endre posisjon på ACADEMY ordet i tittel*/
h1.h1academy{
    /* margin-left: 260px; */
    text-align: right;
    width: 300px;
    margin-left: 292px;


}
.tekstToppHøyre{
   position: absolute;
   margin-left: 440px;
   width: 120px;
   font-size: 10px;
  
   
    
}
.TekstOppeVenstre{
    margin-left: 80px;
    font-size: 10px;
    position: absolute;
    margin-top: 15px;
}
hr.linje{

    width: 250px;
    margin-left: 10px;
    border: 1 px;
    position: absolute;
    margin-top: 0px;
}

.footer{
    height: 40px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 10px;
}

/*forslag til tekst øverst-->*/
.topheader{
    
}

/* egen div med både tittel og bilde*/
div.tittelBakgrunnContainer{
    /* width: 200px;
    height: 200px;
    position: relative;                             /* Jonas kommenterte ut, fordi det gjorde ingen forskjell + jeg skal prøve ut noen greier
    margin: 20px; */
}
/* bakgrunnsbilde men nå i sin egen div. kanskje dette løser tidligere problemer med bilde posisjon*/
div.background{
    background-image: url("assets/images/nybakgrunnbil.jpg");
    height: 750px;
    width: 1000px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-size: 60%;  
    opacity: 100%;  
}


p.ingress   {
    height: 70px;
    width: 220px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    margin-left: 350px;
    position: absolute;
    margin-top: 50px;
    text-align: right;
   

    }

/*Position på bakgrunn og tekst + z-index avgjør hvilken div som havner oppå hvem
*/
div.tittel{
    z-index:9;
    position: absolute;
    
}

.hrtekst{
    
    font-family: serif;
    font-weight: bold;
    font-size:11px; 
    margin-top: 50px;
    margin-bottom: 50px;


}


/* andreas sitt workspace */
.side2body{
    display: flex;
    flex-direction: row;
}

.side2bilderhøyre{
    display: grid;
    grid-template-rows: 40% 20% 40%;
    box-sizing: content-box;
}

.bilde1side2{
    background-image: url("assets/images/bilde1.png");
    object-fit: cover;
}

.bilde2side2{
    background-image: url("assets/images/bilde2.png");
    object-fit: cover;
}

/* TEST!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

body{
    display: grid;
    grid-template-columns: 50% 50%;
}

/* andreas sitt workspace */




/* andreas sitt workspace */
